#cart-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8em;
}

.cart-item {
    margin-bottom: 15px;
    display: flex;
    gap: 1em;
    position: relative;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 15px;
}

.cart-item>span>:last-child {
    position: absolute;
    right: 0;
    bottom: 15px;
}

.cart-item>img {
    width: 100px;
    height: 100px;
}

.cart-item button {
    width: 15px;
    height: 15px;
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-remove-btn-wrapper {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    gap: .5em;
}

.remove-all-item-btn {
    position: absolute;
    right: -10px;
    top: 0;
    transform: translateX(100%);
}

.cart-item h3 {
    position: relative;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

#grand-total {
    font-weight: bold;
    text-align: right;
}

/*Show link in same style as a button*/
#checkout-button {
    display: block;
    text-align: center;
    background: var(--color-btn-background);
    color: var(--color-btn-foreground);
    padding: 0.5em;
    margin-top: 1em;
    font-size: 1.1em;
}