.checkout-grid {
    display: grid;
    grid-template-areas:
        'cart'
        'form';
    grid-gap: 10px;
}

#checkout-cart {
    grid-area: cart;
}

#checkout-form-details {
    grid-area: details;
}

#checkout-form-details > input{
    margin-bottom: 0.8em;
} 


#checkout-form {
    display: grid;
    grid-template-areas:
    'details'
    'payment'
    'footer';
    grid-area: form;
}

#checkout-payment-options {
    grid-area: payment;
}

#checkout-payment-options > input {
    width: 0em;
    opacity: 0;
}

#checkout-payment-options > label {
    font-size: 2.5em;
}

#checkout-payment-options > input:checked + label > i{
    background: var(--color-border); 
}

#checkout-payment-options > input:checked + label{
    /* border: 1px solid var(--color-border); */
    text-shadow: -2.5px -2.5px 0 var(--color-border), 2.5px -2.5px 0 var(--color-border), -2.5px 2.5px 0 var(--color-border), 2.5px 2.5px 0 var(--color-border);
}


.checkout-grid>* {
    font-size: 1em;
}


