#contact-form{
    margin: 1em;
}

#contact-form > input,
#contact-form > select,
#contact-form > textarea{
    margin-bottom: 0.8em;
}

#contact-form > h2 {
    margin: 0;
}

option:hover{
    color: lightgrey;
}