#about-headline {
    text-align: center;
}

.groguhead {
    position: absolute;
    width: 320px;
    height: 70px;
    transform: translate(-50%, -110%);
    z-index: -1;
}

#intro-grid {
    position: relative;
    display: grid;
    grid-template-areas:
        'about'
        'trailer'
        'products';
    gap: 1em;
    min-height: calc(100vh - var(--navbar-offset));
}

#intro-about {
    grid-area: about;
    margin-top: 4.5em;
    text-align: center;
    line-height: 1.2em;
}


#intro-about>p {
    margin-bottom: 0.8em;
}


.trailer-m {
    grid-area: trailer;
    height: fit-content;
}

#intro-products {
    grid-area: products;
}

#intro-socials {
    font-size: 1em;
}

#mando-intro-start {
    margin-top: 2.2em;
}

.featured-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    gap: 0.8em;
}

.featured-product-list>.featured-item {
    display: grid;
    grid-auto-rows: 10% 50% 25% 12%;
    justify-items: center;
    align-items: center;
    gap: 0.3em;
    height: 400px;
    justify-content: center;
    text-align: center;
}

.featured-product-list>.item>h3 {
    margin-bottom: 0.5em;
}

.video-trailer {
    display: flex;
    justify-content: center;
}

.video-trailer iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

@media (min-width:1000px) {
    .featured-product-list {
        grid-template-columns: 240px 240px 240px;
    }

    #intro-socials {
        font-size: 1.5em;
    }
    
}

@media (min-width:1550px) {
    #intro-grid {
        grid-template-areas:
            'about products'
            'trailer trailer';
    }

    #intro-about{
        padding-inline: 2em;
    }

    #intro-products{
        margin-top: 4.5em;
        height: fit-content;
    }
}