#about-headline {
    margin-bottom: .5em;
    text-align: center;
}

.groguhead {
    position: absolute;
    align-content: center;
    /* margin-bottom: -40px;
    width: 500px; */
    width: 320px;
    transform: translate(-50%, -110%);
    z-index: -1;
}

#intro-grid {
    position: relative;
    display: grid;
    grid-template-areas:
        'about'
        'trailer'
        'products'
        'footer';
    gap: 1em;
    position: relative;
    min-height: calc(100vh - var(--navbar-offset));
}

#intro-about {
    grid-area: about;
    margin: 2em;
    margin-top: 4.5em;
    text-align: center;
    line-height: 1.2em;
}


#intro-about>p {
    margin-bottom: 0.8em;
}

#intro-about>p>br {
    margin-bottom: 0.8em;
}

.trailer-m {
    grid-area: trailer;
    position: relative;
    width: 80%;
    margin: auto;
    align-content: center;
}

#intro-products {
    grid-area: products;
    margin-bottom: 3.5em;
}

#mando-intro-start{
    margin-top: 2.2em;
}

.featured-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    gap: 0.8em;
    padding: 3em 1em;
    padding-bottom: 7em;
}

.featured-product-list>.featured-item {
    text-align: center;
}

.featured-product-list>.item>h3 {
    margin-bottom: 0.5em;
}

.video-trailer{
    width: 100%;
}