#shop-wrap{
    position: relative;
    min-height: calc(100vh - var(--navbar-offset));
}

#shop-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    justify-content: center;
    grid-area: shop;
    gap: 0.8em;
    padding: 3em 1em;
    padding-bottom: 7em;
}

.shop-item {
    text-align: center;
}