@import url(reset.css);
@import url(navbar.css);
@import url(footer.css);
@import url(checkout.css);
@import url(cart.css);
@import url(index.css);
@import url(shop.css);
@import url(contact.css);
@import url(terms.css);
@import url(thankyou.css);


:root {
    --color-background: #ecdecd;
    --color-foreground: #343434;
    --color-primary: #abc4ab;
    --color-border: #abc4ab;
    --color-navbar-background: white;
    --color-btn-foreground: #343434;
    --color-btn-background: #abc4ab;
    --color-input-background: #eee;
    --color-input-focus: #ddd;
    --color-logo: #343434;
    --color-logo-shadow: #abc4ab;
    --color-menu-background: #343434;
    --color-menu-foreground: white;
    --color-menu-shadow: #343434;
    --color-burger: #343434;
    --color-burger-active: #ecdecd;


    --navbar-offset: 75px;
    --footer-height: 3.5em;
    --footer-offset: calc(var(--footer-height) + 4em);

}

.darkmode {
    --color-background: #272326;
    --color-foreground: #dad6d5;
    --color-primary: #272326;
    --color-border: #dad6d5;
    --color-navbar-background: #3c3e52;
    --color-btn-foreground: #272326;
    --color-btn-background: #dad6d5;
    --color-input-background: #272326;
    --color-input-focus: #605e5f;
    --color-logo: #dad6d5;
    --color-logo-shadow: #838082;
    --color-menu-background: #343434;
    --color-menu-foreground: #dad6d5;
    --color-menu-shadow: #343434;
    --color-burger: #dad6d5;
    --color-burger-active: #dad6d5;
}

*, ::before, ::after{
    box-sizing: content-box;
}

/* Wofür brauchen wir das?
    Nils: Zum setzen der Schriftart auf der ganzen Seite*/
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background: var(--color-background);
    color: var(--color-foreground);
    position: relative;
    min-height: 100vh;
}

body>*:nth-child(2) {
    padding-top: var(--navbar-offset) !important;
    padding-bottom: var(--footer-offset);
}

a {
    color: var(--color-foreground);
    text-decoration: none;
    transition: 0.1s;
}

a:hover {
    color: var(--color-primary);
}

h1,
h2 {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 1.5em;
    margin-block: 1em;
}

input,
textarea,
select {
    background: var(--color-input-background);
    border: 1px solid var(--color-border);
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus,
textarea:focus {
    background-color: var(--color-input-focus);
    outline: none;
}

input[type="submit"],
button {
    background-color: var(--color-btn-background);
    border: none;
    color: var(--color-btn-foreground);
    font-size: 1.1em;
    transition: 0.15s;
    text-align: center;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--color-btn-foreground);
    color: var(--color-btn-background);
}

textarea {
    max-width: 100%;
}

.grogu-card {
    background: var(--color-navbar-background);
    border: 2px solid var(--color-border);
    position: relative;
    padding: .5em;
    transition: 0.15s;
}

a.grogu-card,
a.grogu-card:hover {
    color: var(--color-foreground);
}

a.grogu-card:hover,
.grogu-card.grogu-card-clickable:hover {
    box-shadow: 0px 0px 10px 5px var(--color-border);
}

.grogu-text {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-shadow: 2px 2px var(--color-logo-shadow);
    color: var(--color-logo);
    font-style: italic;
}

a.grogu-text:hover {
    text-shadow: 2px 2px var(--color-logo);
    color: var(--color-logo-shadow);
}

.grid-container {
    margin-left: 1em;
    margin-right: 1em;
}

.product-img {
    width: 85%;
    max-width: 200px;
    aspect-ratio: 1/1;
}

@media (min-width: 1000px){
    .grid-container {
        margin-left: 5em;
        margin-right: 5em;
    } 

    body{
        font-size: 1.3em;
    }
}