
.mando-grogu{
    width: 90%;
}

#image-thankyou{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    height: 100vh;
    transform: translateY(-15%);
}
