:root {
    --color-background: #dcc9b6;
    --color-foreground: #343434;
    --color-link: #6ea86e;
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 0;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    --color-background: #343434;
    --color-foreground: #a39171;
    --color-text: var(--color-background);
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}

nav .hamburger {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
    cursor: pointer;
    transition: 0.5s;
}

nav .hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    transition: 0.5s;
    transform-origin: 0% 0%;
    background: var(--color-background);
    opacity: 1;
}

nav.navbar-active .hamburger span {
    background: var(--color-background);
}

nav.navbar-active .hamburger span:first-child {
    transform: translate(0px, -5px) rotate(45deg);
}

nav.navbar-active .hamburger span:nth-child(2) {
    opacity: 0;
    transform: scale(0.2, 0.2);
    transform-origin: 50% 50%;
}

nav.navbar-active .hamburger span:last-child {
    transform: translate(-2px, 0px) rotate(-45deg);
}


.menu {
    background: var(--color-foreground);
    display: inline-block;
    position: absolute;
    top: 0;
    width: 20rem;
    max-width: 100vw;
    margin: 0px;
    height: 100vh;
    translate: translate(100%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

ul {
    margin-top: 3em;
    padding-top: 3em;
}

ul * {
    margin-bottom: 20px;
    list-style: none;
    text-align: left;
}

ul li * {
    color: var(--color-text);
    text-decoration: none;
}

.navbar.navbar-active .menu {
    transform: translate(-100%);
}

.darkmode-toggle {
    cursor: pointer;
}

footer{
    display: flex;
    justify-content: center;
    gap: 10em;
    background: #a39171;
}

.socials{
    display: flex;
    flex-direction: column;
}

.footer-links{
    display: flex;
    flex-direction: column;    
}

.container{
    display: flex;
    flex-direction: column;
}

.container{
    background: #a39171;
    padding: 1em;
    border-radius: 2em
}

.item{
    background: #abc4ab;
    padding: 1em;
    border-radius: 2em;
    font-size: 1em;
}

body {
    display: grid;
    grid-template-areas:
      'header header header header header'
      'main main main' 
      'footer footer footer footer footer' ;
    grid-gap: 10px;
    padding: 10px;
}

header{
    background: #a39171;
    padding: 10px;
}

