:root{
    --background-color: #fff;
    --foreground-color: #000;
    --link-color: #6ea86e;
}

body{
    background-color: var(--background-color);
    color: var(--foreground-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

nav {
    position: fixed;
}

nav > ul {
    display: none;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a{
}

nav > .hamburger{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 3px;
    transition: 0.5s;
    background: #000;
}